.Header {
    background-image: url("../Assets/water2.png");
    flex-basis: 400px;
    min-height: 400px;
}

/* The animation code */
@keyframes slide-first {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0px);
        }
  }

  @keyframes slide-last {
    from {
        transform: translateX(-230px);
    }
    to {
        transform: translateX(0px);
        }
  }

  @keyframes slide-passions-right {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(0px);
        }
  }

  @keyframes slide-passions-left {
    from {
        transform: translateX(-400px);
    }
    to {
        transform: translateX(0px);
        }
  }

.firstName {
    position: absolute;
    color: white;  
    font-size: 1.6em;
    font-weight: 700;
    padding: 10px 40px 10px 40px;
    line-height: 40px;
    top: 50px;
    background-color: black;
    animation-name: slide-first;
    animation-duration: 2s;
}

.lastName {
    position: absolute;
    color: white;
    font-size: 1.6em;
    font-weight: 700;
    padding: 10px 50px 10px 40px;
    line-height: 40px;
    top: 115px;
    background-color: black;
    animation-name: slide-last;
    animation-duration: 2s;
}

.passions {
    position: absolute;
    right: 0;
    top: 250px;
    padding: 10px 40px 10px 40px;
    color: white;
    font-weight: 700;
    font-size: 2.4em;
    background-color: black;
    animation-name: slide-passions-right;
    animation-duration: 2s;
    max-width: 70%;
}

@media only screen and (max-width: 1200px) {

   .firstName, .lastName {
       font-size: 1.4em!important;
   } 

   .passions {
       font-size: 2.0em!important;
   }
}

@media only screen and (max-width: 1000px){
    .passions {
        left: 0!important;
        right: auto;
        animation-name: slide-passions-left;
    }
}

@media only screen and (max-width: 800px){
    .passions {
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .Header {
        min-height: 250px!important;
    }
}