.Me {
    background-color: #46D2D1;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
    flex-wrap: wrap;
}

.about-me {
    display: flex;
    align-items: center;
    font-size: 1.4em;
}

.content{
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
    padding-right: 50px;
}