.Me {
    /* top colors:
   #AEE9EC
   #46D2D1 
   #41C2C1
   #9FD4DC
   */
    background-color: #98D0D7;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 5%;
    font-size: 1.4em;
}

.hello {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

img {
    height: 200px!important;
    margin-left: 40px;
}

.hello > .greeting {
    flex-basis: 400px;
    max-width: 1100px;
    flex-grow: 1;
    margin: 0px 40px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    width: 100%;
    
}

.info > * {
    margin: 0px 40px;
}

.skills {
    flex-basis: 500px;
    flex-grow: 1;
}

.facts {
    flex-basis: 400px;
    flex-grow: 1;
}

.facts > ul {
    max-width: 700px;
}

.skillsContent {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

@media only screen and (max-width: 1000px) {
    .skillsContent{
        flex-wrap: wrap;
    }
}

.leftList {
    margin-right: 40px;
}

.lists {
    display: flex;
}

.lists > * {
    margin-right: 20px;
}

span {
    font-weight: 700;
}

h1 {
    margin: 10px 0px;
    font-size: 1.8em;
}

h2 {
    margin: 10px 0px;
    border-bottom: solid 2px black;
}

h3 {
    margin: 10px 0px 0px 0px;
}

p {
    margin: 10px 0px;
    font-size: 1.0em;
    font-weight: 500;
}

ul {
    margin: 20px 0px;
}

/* Mobile Friendly */
@media only screen and (max-width: 600px) {

    .Me {
        padding: 30px 0px !important;
    }

    img {
        margin-left: 30px!important;
    }

    .hello > .greeting {
        margin: 0px 30px !important;
    }

    .info > * {
        margin: 0px 30px!important;
    }

    .leftList {
        margin-right: 0px!important;
    }

    .lists > * {
        margin-right: 10px!important;
    }
}