.Projects {
    background-color: #98D0D7;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Projects > p {
    font-size: 3.0em;
    text-align: center;
    color: white;
}
