.Work {
    background-color: black;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Work > p {
    font-size: 3.0em;
    text-align: center;
    color: white;
}
