.Work {
    background-color: black;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 15%;
}

.Work > p {
    font-size: 3.0em;
    text-align: center;
    color: white;
}
